.container {
    width: 100%;
    margin-top: 10%;
    text-align: center ;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 20px;
}
table {
    width: 50%;
    margin: 0 auto;
}
button {
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin: 20px
}