select {
    width: 200px;
    height: 30px;
    margin-left: 20px;
}

.form {
    border: 2px solid;
    width: 150px;
    margin-left: 300px;
    box-sizing: border-box;

}

p {
    padding: 0 10px;
}

.highlight {
    background: aqua;
}
#mark {
    color: red;
}