*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background: #bbd4e3;
}

.container{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background: none;
}
.image-container{
    position: relative;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

img{
    position: relative;
    width: 850px;
    height: 350px;
    display: none;
}

.active{
    display: block;
}
.dot-container{
    margin: 3% auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 5px;
    background: none;
}

button{
    outline: none;
    cursor: pointer;
}

.dot-container button{
    padding: 7px;
    border-radius: 50%;
    border: 4px solid #0f1010;
    background-color: transparent;
}

.dot-container button:nth-child(1){
    background-color: #121313;
}
#prev,#next{
    position: absolute;
    color: rgb(251, 249, 249);
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    font-size: 40px;
    font-weight: bolder;
    background:none;
    margin-bottom: 45px;
}

#prev{
    left: 3%;
}
#next{
    right: 3%;
}